<?xml version="1.0" encoding="UTF-8"?>
<Configuration ><!-- TRACE	DEBUG	INFO	WARN	ERROR	FATAL	OFF -->
	<Appenders>
		<RollingFile name="RollingFile" fileName="sumo.log" filePattern="$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB"/>
			</Policies>
		</RollingFile >
		<Console name="STDOUT" target="SYSTEM_OUT">
		  <PatternLayout pattern="%5p %d %C: %m%n"/>
		</Console>
	</Appenders>
   <Loggers>
		<logger name="jrc.it.geolocation.common" level="ERROR" additivity="false ">
			<AppenderRef ref="STDOUT"/>
		</logger>
		<logger name="jrc.it.geolocation.geo" level="ERROR" additivity="false	">
			<AppenderRef ref="STDOUT"/>
		</logger>
		<logger name="jrc.it.geolocation.interpolation" level="ERROR" additivity="false">
			<AppenderRef ref="STDOUT"/>
		</logger>
		<logger name="jrc.it.geolocation.metadata" level="ERROR" additivity="false">
			<AppenderRef ref="STDOUT"/>
		</logger>
		<logger name="ncsa.hdf.hdflib.HDFLibrary" level="WARN">
		</logger>
		<logger name="org.geoimage.analysis" level="INFO" additivity="false">
			<AppenderRef ref="STDOUT"/>
			<AppenderRef ref="RollingFile"/>
		</logger>
		<logger name="org.geoimage.def" level="DEBUG" additivity="false">
			<AppenderRef ref="STDOUT"/>
		</logger>
		<logger name="org.geoimage.impl" additivity="false" level="DEBUG" >
			<AppenderRef ref="STDOUT"/>
		</logger>
		<logger name="org.geoimage.viewer" level="INFO" additivity="false">
			<AppenderRef ref="STDOUT"/>
		</logger>
		<logger name="org.geoimage.viewer.core.batch" level="INFO" additivity="false">
			<AppenderRef ref="STDOUT"/>
			<AppenderRef ref="RollingFile"/>
		</logger>
		<logger name="org.geoimage.viewer.core.layers" level="INFO" additivity="false">
			<AppenderRef ref="STDOUT"/>
		</logger>

		<root level="DEBUG">
			<AppenderRef ref="STDOUT"/>
			<AppenderRef ref="RollingFile"/>
		</root>
	</Loggers>
</Configuration>